<div class="footer">
    <% if (show_credit) { %>
        <sub>
            Made with <i class="fas fa-heart" style="color: var(--clr-red)"></i> by <a href="https://roelc.me" target="_blank" referrerpolicy="no-referrer">pixnyb</a>
        </sub>
        <sub>
            <a href="https://github.com/pixnyb/authentication-proxy" target="_blank" referrerpolicy="no-referrer" style="text-decoration: none;">
                <i class="fas fa-code" title="View source code"></i>
            </a>&nbsp;
            <a href="https://www.buymeacoffee.com/pixnyb" target="_blank" referrerpolicy="no-referrer" style="text-decoration: none;">
                <i class="fas fa-coffee" title="Buy me a coffee"></i>
            </a>
        </sub>
    <% } %>
</div>