<h1 class="large">
    <%= title %>
</h1>

<p>
    You are now logged in, but we didn't know where to redirect you to.<br/>
    Feel free to enter an address on your own.
</p>

<p>
    <a href="./logout">Logout</a>
</p>