<h1>
    <%= title %>
</h1>

<p>
    If you are not redirected, click <a href="<%= redirectUrl %>">here</a>.
</p>

<script>
    setTimeout(() => {
        window.location.href = "<%= redirectUrl %>";
    }, 1000);

    setTimeout(() => {
        window.location.replace("<%= redirectUrl %>");
    }, 1000);
</script>