<h1>
    <%= title %>
</h1>

<p>
    If you are not redirected, click <a href="<%= redirectUrl %>">here</a>.
</p>

<script>
    window.location.href = "<%= redirectUrl %>";
    window.location.replace("<%= redirectUrl %>");
</script>